.pasillo{
    background-color: black;
}
.bolita{
    background-image: url('images/pc.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    
}

.blue{
    background-image: url('images/wall.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}





.mainCharacter{
    /*background-image: url('images/pacman.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;*/
    background-image: url('images/informatico.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.enemy1{
    background-image: url('images/clickError.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.enemy2{
    background-image: url('images/error420.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.enemy3{
    background-image: url('images/blueScreen.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.enemy4{
    background-image: url('images/system-failure.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

body{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgb(23, 65, 202) 0%,
        rgb(173, 128, 29) 100%
    )
}



#interface{
    display: flex;
    box-shadow: 10px 10px 20px black;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
    width: auto;
}

#scoreContainer{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    background-color: black;
}

#scoreContainer > img{
    height: 80px;
    background-size: contain;
}

#scoreContainer label{    
    display: block;
}


/*ABIAN*/
#start-menu {
    display: flex;
    background: linear-gradient(blue, pink);
    border-style: solid;
    border-color: white;
    position: absolute;
    width: 350px;
    height: 320px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border-width: 4px;
    visibility: visible;
    border-radius: 28px;
}

#start-btn {
    display: flex;
    position: absolute;
    border-style: solid;
    width: 100px;
    height: 30px;
    justify-content: center;
    margin-left: 12px;
    margin-top: 410px;
    border-radius: 50%;
    border-width: 3px;
    font-size: 20px;
    font-weight: 600;
    background: lightblue;
    border-radius: 28px;
    border-color: rgba(7, 0, 0, 0.884);
    visibility: visible;


}

#start-btn:active {
    background-color: darkorange;
}


h1 {
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    color: lightgrey;
    margin: 0;
}

#game-over {
    position: absolute;
    height: 250px;
    margin-left: 40px;
    margin-top: 120px;
}


#game-over-screen {
    display: flex;
    position: absolute;
    height: 300px;
    border-radius: 28px;
    border-style: solid;
    border-color: white;
    visibility: hidden
}

#restart-btn {
    position: absolute;
    margin-left: 130px;
    margin-top: 200px;
    visibility: hidden;
    border-radius: 28px;
    border-color: white;
    background-color: black;
    color: white;
}

#restart-btn:active {
    background-color: darkred;
}

#victory-container{
    position: absolute;
    visibility: hidden;
}

#victory-screen{
    position: absolute;
    width: 330px;
    height: 240px;
    margin-left: 60px;
    margin-top: 120px;
    border-style: solid;
    border-radius: 28px;
    border-color: white;
}

#victory-restart-btn{
    position: absolute;
    margin-top: 310px;
    margin-left: 200px;
    border-radius: 28px;
    border-color: white;
    background-color: black;
    color: white;
}