
.pasillo{
    background-color: white;
}
.bolita{
    background-image: url('images/bolita.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.blue{
    background-color: blue;
    width: 20px;
    height: 20px;
}



body{
    background-color: black;
}

.mainCharacter{
    background-color: red;
}

.enemy1{
    background-image: url('images/enemy1.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.enemy2{
    background-image: url('images/enemy2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.enemy3{
    background-image: url('images/enemy3.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.enemy4{
    background-image: url('images/enemy4.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}


#interface{
    display: flex;
}
#scoreContainer{
    width: 20%;
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
}